/* GENERAL */
body{
	background-color: #e2da99;
}

/* NAVBAR */

.navbar{
	margin-bottom: 0px;
}

.myNavbar{
	background-color: #342800;
	border-color: #342800;
}

.dropdown-menu>li>a, .navbar-inverse .navbar-nav>li>a, 
.navbar-inverse .navbar-brand, .navbar .navbar-form input,
.navbar-inverse .btn .glyphicon-search{
	color: #5e9ca0;
}

.navbar .navbar-toggle{
  background-color: #342800;
  border: 0.2em solid #5e9ca0;
}

.navbar-inverse .navbar-toggle .icon-bar{
  background-color: #5e9ca0;
}

.dropdown-menu{
	color: #5e9ca0;
	background-color: #342800;
}

.navbar-form input, .navbar-form button{
	background-color: #e2da99;
	border: 1px solid #5e9ca0;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color: #342800 !important;
	background-color: #5e9ca0 !important;
}

.dropdown-menu>li>a:hover{
	color: #342800 !important;
	background-color: #5e9ca0 !important;
}

.navbar-inverse .navbar-nav>.open>a{
	color: #5e9ca0 !important;
	background-color: #342800 !important;
}

.navbar .navbar-form button:hover{
	color: #342800 !important;
	background-color: #5e9ca0 !important;
}

.navbar-inverse .navbar-brand:hover{
	color: #e2da99;
}

.navbar-form input::-webkit-input-placeholder {
   color: #5e9ca0;
}

.navbar-form input:-moz-placeholder {
   color: #5e9ca0;
}

.navbar-form input::-moz-placeholder {
   color: #5e9ca0;
}

.navbar-form input:-ms-input-placeholder {
   color: #5e9ca0;
}


/* FOOTER */

#footer #container{
	margin-top: -50px;
	padding: 0px;
	position: fixed;
}

.branco, .branco .glyphicon{
	background-color: rgba(115, 175, 182, 0.75);
	color: #342800;
}

/* LOGIN AND REGISTER CSS */

.logRegForm{
  position: absolute;
	top: 20%;
  left: 10%;
  margin: auto 0px;
  width: 80%;
}

.logRegForm .panel-default .panel-body{
  left: 33.333333%;
  margin: auto 0px;
}

hr{
  border-top: 0.1em solid #342800;
  margin-right: 15px;
  margin-left: 15px;
  width: 98%;
}

.logRegForm h2{
  color: #5e9ca0;
}

.logRegForm button{
  background-color: #e2da99;
  color: #342800;
  border: 0.1em solid #342800;
  border-radius: 10px;
  font-size: 1em;
}

.logRegForm button:hover{
  background-color: #e2da99;
  color: #5e9ca0;
  border: 0.13em solid #5e9ca0;
  border-radius: 10px;
  font-size: 1.1em;
}

.logRegForm .form-group input{
  background-color: #e2da99;
  color: #5e9ca0;
  border: 0.1em solid #342800;
  border-radius: 10px;
  font-size: 1em;
  box-shadow: none;
}

.logRegForm .form-group .glyphicon{
  background-color: #e2da99;
  color: #5e9ca0;
  border: 0.1em solid #342800;
  font-size: 1em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.logRegForm input::-webkit-input-placeholder {
   color: #5e9ca0;
}

.logRegForm input:-moz-placeholder {
   color: #5e9ca0;
}

.logRegForm input::-moz-placeholder {
   color: #5e9ca0;
}

.logRegForm input:-ms-input-placeholder {
   color: #5e9ca0;
}

.logRegForm .panel-default{
  border: 0;
}

/* put glyphicons left of input field */
/* enable absolute positioning */
.inner-addon { 
    position: relative;
}

/* style icon */
.inner-addon .glyphicon{
  position: absolute;
  padding: 10px, 0px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon{ 
	left:  15px;
}
.right-addon .glyphicon{ 
	right: 0px;
}

/* add padding  */
.left-addon input{ 
	padding-left:  35px; 
}
.right-addon input{ 
	padding-right: 35  px; 
}


/* HOMEPAGE: JUMBOTRON IMAGE AND TEXT; */

.jumbotron{
	margin: 0px;
	padding: 0px;
	height: 602px;

	background: url("../img/homeJumbotron.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.jumbotron .jumbotronText{
	color: #2b2301;
	margin-top: 10%;
}

.jumbotron .container{
	z-index: 4;
	position: relative;
}

.jumbotron .container>p{
	font-size: 2em;
}

.jumbotron .overlay {
	background-color: #73afb6;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 2;
	opacity: 0.50;
}

/* DEVELOPERS INFORMATION MDOAL */
#students .modal-header{
  background-color: #342800;
  color: #5e9ca0;
}

#students .modal-body{
  background-color: #e2da99;
}

#students button{
  background-color: #e2da99;
  color: #342800;
  border: 0.2em solid #342800;
  border-radius: 10px;
  font-size: 1.3em;
}

#students button:hover{
  background-color: #342800;
  color: #5e9ca0;
  border: 0.2em solid #5e9ca0;
  border-radius: 10px;
  font-size: 1.3em;
}

.qrcode{
	width:80%;
	height: 80%;
  margin: 0px 10%;
}

.studentsNames{
  text-decoration: none !important;
  width: 100%;
  color: #5e9ca0;
  font-size: 1.3em;
}

.studentsNames:hover{
  text-decoration: none !important;
  width: 100%;
  color: #5e9ca0;
  font-size: 1.4em;
  border: 0.05em solid #5e9ca0;
  border-radius: 10px;
}

/* TIMELINE */

@media only screen and (min-width: 1170px) {
  header {
    height: 300px;
    line-height: 300px;
  }
  header h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
