/* GENERAL */

/* NAVBAR */

/*.navbar{
	margin-bottom: 0px;
	background-color: rgba(51, 171, 51, 1);
}

.myNavbar{
	color: rgba(255, 255, 255, 1);
}*/

/* FOOTER */

#footer #container{
	margin-top: -50px;
	padding: 0px;
	position: fixed;
}

/* LOGIN AND REGISTER CSS */

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon{
  position: absolute;
  padding: 10px, 0px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon{ 
	left:  15px;
}
.right-addon .glyphicon{ 
	right: 0px;
}

/* add padding  */
.left-addon input{ 
	padding-left:  30px; 
}
.right-addon input{ 
	padding-right: 30px; 
}


/* HOMEPAGE: JUMBOTRON IMAGE AND TEXT; */

.jumbotron{
	margin: 0px;
	padding: 0px;
	height: 602px;

	background: url("../img/homeJumbotron.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.jumbotron .jumbotronText{
	color: red;
	z-index: 4;
}

.jumbotron .overlay {
	background-color: #22A39F;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 2;
	opacity: 0.40;
}