/* GENERAL */
body{
	background-color: #d1c5b7;
}

/* NAVBAR */

.navbar{
	margin-bottom: 0px;
}

.myNavbar{
	background-color: #735d41;
	border-color: #735d41;
}

.dropdown-menu>li>a, .navbar-inverse .navbar-nav>li>a, 
.navbar-inverse .navbar-brand, .navbar .navbar-form input,
.navbar-inverse .btn .glyphicon-search{
	color: #063e53;
}

.navbar-form input:focus{
	box-shadow: none;
	background-color: #d1c5b7;
	border: 1px solid #063e53;
}

.navbar .navbar-toggle{
  background-color: #735d41;
  border: 0.2em solid #063e53;
}

.navbar .navbar-toggle:hover{
  background-color: #d1c5b7;
  border: 0.2em solid #063e53;
}

.navbar .navbar-toggle:focus{
  background-color: #735d41;
  border: 0.2em solid #063e53;
}

.navbar-inverse .navbar-toggle .icon-bar{
  background-color: #063e53;
}

.dropdown-menu{
	color: #063e53;
	background-color: #735d41;
}

.navbar-form input, .navbar-form button{
	background-color: #d1c5b7;
	border: 1px solid #063e53;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color: #735d41 !important;
	background-color: #063e53 !important;
	font-size: 1.2em;
}

.dropdown-menu>li>a:hover{
	color: #735d41 !important;
	background-color: #063e53 !important;
}

.navbar-inverse .navbar-nav>.open>a{
	color: #063e53 !important;
	background-color: #735d41 !important;
}

.navbar .navbar-form button:hover{
	/*color: #735d41 !important;
	background-color: #063e53 !important;*/
	border: 0.1em solid #063e53;
}

.navbar-inverse .navbar-brand:hover{
	color: #d1c5b7;
}

.navbar-form input::-webkit-input-placeholder {
   color: #063e53;
}

.navbar-form input:-moz-placeholder {
   color: #063e53;
}

.navbar-form input::-moz-placeholder {
   color: #063e53;
}

.navbar-form input:-ms-input-placeholder {
   color: #063e53;
}


/* FOOTER */

.footer .container{
	height: 30px !important;
}

.footer .container p, .footer .container i{
	margin-top: 7px;
}

.footer, .footer .container a{
	height: 30px;
}

.branco, .branco .glyphicon-qrcode{
	background-color: rgba(115, 93, 65, 0.65);
	color: #063e53;
}

.footer:hover{
	background-color: rgba(115, 93, 65, 1);
}

/* LOGIN AND REGISTER CSS */

.logRegForm{
  margin-top: 120px;
  margin-bottom: 50px;
}
@media (max-width: 767px){
    .logRegForm{
      margin-top: 30px;
    }
}

.line{
  border-top: 0.1em solid #735d41;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 95%;
  z-index: 2;
}

.logRegForm h2{
  color: #063e53;
}

.logRegForm button{
  background-color: #d1c5b7;
  color: #735d41;
  border: 0.1em solid #735d41;
  border-radius: 10px;
  font-size: 1em;
}

.logRegForm button:hover{
  background-color: #d1c5b7;
  color: #063e53;
  border: 0.13em solid #063e53;
  border-radius: 10px;
  font-size: 1.1em;
}

.logRegForm .form-group input{
  background-color: #d1c5b7;
  color: #063e53;
  border: 0.1em solid #735d41;
  border-radius: 10px;
  font-size: 1em;
  box-shadow: none;
}

.logRegForm .form-group .glyphicon{
  background-color: #d1c5b7;
  color: #063e53;
  border: 0.1em solid #735d41;
  font-size: 1em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.logRegForm input::-webkit-input-placeholder {
   color: #063e53;
}

.logRegForm input:-moz-placeholder {
   color: #063e53;
}

.logRegForm input::-moz-placeholder {
   color: #063e53;
}

.logRegForm input:-ms-input-placeholder {
   color: #063e53;
}

.logRegForm .panel-default{
  border: 0;
  min-height: 360px;
  overflow: hidden;
}

/* put glyphicons left of input field */
/* enable absolute positioning */
.inner-addon { 
    position: relative;
}

/* style icon */
.inner-addon .glyphicon{
  position: absolute;
  padding: 10px, 0px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon{ 
	left:  15px;
}
.right-addon .glyphicon{ 
	right: 0px;
}

/* add padding  */
.left-addon input{ 
	padding-left:  35px; 
}
.right-addon input{ 
	padding-right: 35  px; 
}


/* HOMEPAGE: JUMBOTRON IMAGE AND TEXT; */

.carousel-panel{
  border: 0.2em solid rgba(6, 62, 83, 0.8);
  border-radius: 10px;
  margin-top: 100px;
}

#this-carousel-id{
  background-color: rgba(133, 105, 65, 0.3);
  min-height: 575px;
  margin-bottom: 40px;
}

.carousel-panel>div{
  padding: 10px 0px;
}

.carousel-panel #voteBtn{
  margin-left: 15px;
}

.carousel-panel .timeline-heading{
  padding-left: 15px;
}

@media (max-width: 767px){
  .carousel-panel{
    margin-top: 20px;
  }

  #this-carousel-id{
    min-height: 330px;
  }
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
  color: #063e53;
}

.siteMap{
  margin-top: 25px;
  margin-bottom: 20px;
}

.siteMapTitle{
  padding-left: 0;
  font-size: 3em;
  color: #063e53;
}

.siteMapDescription{
  padding-left: 25px;
  padding-top: 20px;
  font-size: 1.8em;
  color: #0193b7;
}

.siteMapImg{
  border: 0.3em solid #063e53;
  border-radius: 3px;
  padding-right: 0;
  padding-left: 0;
}

.signUpMsg{
  text-align: center;
  color: #063e53;
  padding-top: 45px;
}

.signUpMsg>h1{
  font-size: 3em;
}

.signUpMsg h1>a{
  text-decoration: none;
  color: #0193b7;
  border: 0.1em solid #0193b7;
}

.signUpMsg h1>a:hover{
  text-decoration: none;
  background-color: #063e53;
}


/* DEVELOPERS INFORMATION MDOAL */
#students .modal-header{
  background-color: #735d41;
  color: #063e53;
  border-bottom: 0.25em solid #063e53;
}

#students .modal-body{
  background-color: #d1c5b7;
}

#students button{
  background-color: #d1c5b7;
  color: #735d41;
  border: 0.2em solid #735d41;
  border-radius: 10px;
  font-size: 1.2em;
}

#students button:hover{
  background-color: #735d41;
  color: #063e53;
  border: 0.2em solid #063e53;
  border-radius: 10px;
  font-size: 1.2em;
}

.qrcode{
	width:80%;
	height: 80%;
  margin: 0px 10%;
}

.studentsNames{
  text-decoration: none !important;
  width: 100%;
  color: #063e53;
  font-size: 1.3em;
}

.studentsNames:hover{
  text-decoration: none !important;
  width: 100%;
  color: #063e53;
  font-size: 1.4em;
  border: 0.05em solid #063e53;
  border-radius: 10px;
}

/* NEW POLL */
#newPoll{
  margin-top: 40px
}

@media (max-width: 767px){
    #newPoll{
      margin-top: 30px;
    }
}

#newPoll label{
  color: #063e53;
}

#newPoll #answersGroup ul{
	padding-left: 0;
	list-style-type: none;
}

#answersGroup ul li{
	padding-top: 3px;
	padding-bottom: 6px;
}

#newPoll select{
	background-color: #d1c5b7;
	color: #063e53;
	border: 0.1em solid #735d41;
	border-radius: 10px;
}

.newPollPanelBody{
	padding-top: 20px;
}

.btn_add{
	margin-left: 100px;
}

#visability{
  box-shadow: none;
}

#newPoll .panel-default{
  min-height: 360px;
  overflow: hidden;
}

/* EDIT POLL */
#editPoll .pollImage{
  padding: 8px 15px;
}

#editPoll select{
  background-color: #d1c5b7;
  color: #063e53;
  border: 0.1em solid #735d41;
  border-radius: 10px;
}

#editPoll #visability{
  box-shadow: none;
}

#editPoll #answersGroup div{
  padding-left: 0;
  padding-right: 0;
}

#editPoll #answersGroup ul{
  padding-left: 0;
  list-style-type: none;
}

#editPoll #answersGroup ul li{
  padding-top: 3px;
  padding-bottom: 6px;
}

#editPoll #answersLabel{
  padding-left: 0px;
  padding-right: 0px;
}

#editPoll #answersGroup input{
  background-color: #d1c5b7;
  color: #063e53;
  border: 0.1em solid #735d41;
  border-radius: 10px;
}

/* MANAGE POLLS PAGE */
.viewPollsHeader{
  background-color: #ffffff;
  color: #063E53;
  text-align: center;
  margin: 20px 15px;
  border: 0.2em solid rgba(6, 62, 83, 0.75);
  border-radius: 5px;
}

.thumbnail{
	border: 0.2em solid rgba(6, 62, 83, 0.75);
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.60);
}

.thumbnail:hover{
	background-color: rgba(255, 255, 255, 1);
}

.thumbnail .pollTitle{
	color: #063e53;
	text-align: center;
	border: 0.1em solid rgba(6, 62, 83, 0.75);
	border-radius: 5px;
}

.thumbnail .pollQuestion{
	color: #0193b7;
	padding: 15px 0;		
}

.thumbnailBtn{
	background-color: #d1c5b7;
	border: 0.2em solid #063e53;
	color: #063e53;
	margin-top: 3px;
	margin-bottom: 2px;
}

.thumbnailBtn:hover{
	background-color: #063e53;
	border: 0.2em solid #063e53;
	color: #ffffff;
}

.thumbnailBtn:focus{
	background-color: #063e53;
	border: 0.2em solid #063e53;
	color: #ffffff;
}

/* delete confirmation */
#deleteModal{
  background-color: rgba(115, 93, 65, 0.8);
  color: #063e53;
}

#deleteModal .modal-body{
  background-color: #d1c5b7;
  border-radius: 5px;
}

#deleteModal .modal-body p, #deleteModal .modal-body i{
  font-size: 1.3em;
  text-align: center;
}

.deleteBTN{
  background-color: #d1c5b7;
  border: 0.2em solid #063e53;
  color: #063e53;
  margin-top: 3px;
  margin-bottom: 2px;
}

.deleteBTN:hover{
  background-color: #063e53;
  border: 0.2em solid #063e53;
  color: #ffffff;
}

.deleteBTN:focus{
  background-color: #063e53;
  border: 0.2em solid #063e53;
  color: #ffffff;
}

/* SHOW POLL */
#votePollCont{
  margin-top: 120px;
  margin-bottom: 50px;
}
@media (max-width: 767px){
    #votePollCont{
      margin-top: 30px;
    }
  }
#votePollCont img{
  padding: 10px; 
}

#votePollCont form{
  padding-left: 0px;
  padding-right: 0px;
}

.transpDiv{
  background-color: transparent;
  border: none;
}

#votePollCont h1{
  color: #063e53;
  text-align: left;
  border: 0.08em solid rgba(6, 62, 83, 0.75);
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#votePollCont h4{
  color: #0193b7;
  padding-top: 8px;
  padding-bottom: 8px;  
}

#votePollCont .input-group{
  color: #0193b7;
  margin-top: 6px;
  margin-bottom: 6px;
}

#votePollCont .radioButtonSelected{
  border: 0.1em solid #063e53;
  border-radius: 5px;
}

#votePollCont #voteCheckbox{
  background-color: rgba(6, 62, 83, 0.75);
  border-radius: 5px;
  color: #0193b7;
}

#votePollCont button{
  background-color: #d1c5b7;
  border: 0.2em solid #063e53;
  border-radius: 5px;
  color: #063e53;
  margin-top: 20px;
  margin-bottom: 10px;
}

#votePollCont button:hover{
  background-color: #063e53;
  color: #ffffff;
}

/* TIMELINE */
.page-header{
  color: #063e53;
  border-bottom: 0.1em solid #063e53;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
 
    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #063e53;
        left: 50%;
        margin-left: -1.5px;
    }
 
    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }
 
        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }
 
        .timeline > li:after {
            clear: both;
        }
 
        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }
 
        .timeline > li:after {
            clear: both;
        }
 
        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 0.1em solid #063e53;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(1, 147, 183, 0.175);
            box-shadow: 0 1px 6px rgba(1, 147, 183, 0.175);
            background-color: rgba(255, 255, 255, 0.6);
        }

        .timeline > li > .timeline-panel:hover {
            background-color: rgba(255, 255, 255, 1);
        }
 
            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #063e53;
                border-right: 0 solid #063e53;
                border-bottom: 15px solid transparent;
                content: " ";
            }
 
            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #063e53;
                border-right: 0 solid #063e53;
                border-bottom: 14px solid transparent;
                content: " ";
            }
 
        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #0193b7;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }
 
        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }
 
            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }
 
            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }
 
.timeline-badge.primary {
    background-color: #2e6da4 !important;
}
 
.timeline-badge.success {
    background-color: #3f903f !important;
}
 
.timeline-badge.warning {
    background-color: #f0ad4e !important;
}
 
.timeline-badge.danger {
    background-color: #d9534f !important;
}
 
.timeline-badge.info {
    background-color: #5bc0de !important;
}
 
.timeline-title {
    margin-top: 0;
    color: #063e53;
}

.timeline-question {
    margin-top: 0;
    color: #0193b7;
    font-size: 1.2em;
}

.timeline-image{
  margin: 0px;
  padding: 0px;
}

.timeline-image>img{
  width: 100%;
  height: 100%;
}
 
.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}
 
    .timeline-body > p + p {
        margin-top: 5px;
    }
 
@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
 
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }
 
    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }
 
    ul.timeline > li > .timeline-panel {
        float: right;
    }
 
        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }
 
        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}